:root {
    --bg-color: #fff;
    --buuton-bg: #000;
    --title-bg: #000;
    --card-footer: #f1f1f1;
    --card--padding: 0 13em;
    --hover-color: #ccc;
    --element-padding: 0.5em 1em;
    --element-margin: 0.5em 0;
}

body {
    line-height: 1.5;
    font-size: 0.9375rem;
    font-family: 'Roboto', sans-serif;
}

.section {
    padding: var(--card--padding);
}